{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <style>
        .imggg-lg {
            width: 9.25rem;
            height: 6.25rem;
        }

        .category-products {
            border: 1px solid;
            display: table-row-group;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .product-box {
            max-width: 250px;
            max-height: 250px;
            border: 1px solid;
            margin: 10px;
            padding: 5px;
            position: relative;
            left: 50px;
            text-align: center;
            word-wrap: break-word;
            overflow: hidden;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ category.name }}</h1>
            </div>
        </div>
    </div>

    <div class="category-products">
        <div class="row">
            {% for article in articles %}
                <div class="col">
                    <a href="{{ path('article_see', {'id': article.id}) }}" style="color: black; text-decoration: none;">
                        <div class="product-box">
                    <span class="image-wrapper">
                        <img class="imggg-lg" src="{{ asset(article.imageId) }}">
                    </span><br>
                            <span class="title-wrapper">
                        {{ article.name }}
                    </span>
                            <ul class="disabled">
                                <li>{{ article.techData }}</li>
                                <li>{{ article.price|price }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_editt', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
