{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <style>
        .imggg-lg {
            width: 9.25rem;
            height: 6.25rem;
        }
    </style>
    <div class="container">
        <div class="row align-content-center">
            <div class="col">
            </div>
            <div class="col-2">
                <h1>{{ category.name }}</h1>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <div class="category-products">
        <div class="row">
            <div class="col-xs-5 offset-2">
                {% for article in articles %}
                    <a class="product-box" href="{{ path('article_see', {'id': article.id}) }}">
                    <span class="image-wrapper ">
                        <img class="imggg-lg" src="{{ asset(article.imageId) }}">
                    </span><br>
                        <span class="title-wrapper">
                        {{ article.name }}
                    </span>
                        <ul class="disabled" >
                            <li>{{ article.techData }}</li>
                            <li>{{ article.price|price }}</li>
                        </ul>
                    </a>
                    <table class="table table-responsive">
                        <tbody>
                        <tr><th>Name</th><td>{{ article.name }}</td></tr>
                        </tbody>
                    </table>



                    {# <table class="table table-striped"> #}
                    {# <tbody> #}
                    {# <tr> #}
                    {# <th>Id</th> #}
                    {# <td>{{ category.id }}</td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {# <th>Name</th> #}
                    {# <td>{{ category.name }}</td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {# <th>ImageId</th> #}
                    {# <td>{{ category.imageId }}</td> #}
                    {# </tr> #}
                    {# </tbody> #}
                    {# </table> #}
                {% endfor %}
            </div>
        </div>
    </div>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_editt', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
