{% extends 'admin/base.html.twig' %}



{% block body %}
    <div class="row row-cols-3">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-green"><i class="fa fa-cubes"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total products available</span>
                    <span class="info-box-number">{{ articles|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gradient-red"><i class="fa fa-dollar-sign"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total inventory value</span>
                    <span class="info-box-number">{{ totalValue|price }}<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-gradient-fuchsia"><i class="fa fa-user"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total users</span>
                        <span class="info-box-number">{{ users|length }}<small></small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
    </div>
    <h3>Latest news</h3>
    {% for new in latestNews %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action " >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ new.title }}</h5>
                  <small>{{ new.createdAt|format_datetime('long', 'short') }}</small>
            </div>
            <p class="mb-1">{{ new.content }}</p>
            <small>Author {{ new.createdBy }}</small>
        </a>

    </div>

    {% endfor %}

{% endblock %}
