{% extends 'admin/base.html.twig' %}



{% block body %}


            <div class="container">
                <h2>Hello {{ app.user.fname }} {{ app.user.lname }}</h2>
                <h4>Your authorisation levels are: {% for role in app.user.roles %} {{ role|trim('ROLE_','left')|upper }} {% endfor %}</h4>

            </div>
            <ul class="list-group" >
                {% for role in app.user.roles %}
                    {% if role == "ROLE_SUPER_ADMIN" %}
                        <div class="container-fluid">
                            <div class="row-cols-3">
                                {% if showDeleted == false %}
                                    <a href="{{ path('article_management_show_deleted') }}" class="btn btn-info">Show deleted articles</a>
                                {% else %}
                                    <a href="{{ path('article_management') }}" class="btn btn-info">Hide deleted articles</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <table class="table table-responsive table-striped">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Tech Data</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Created At</th>
                        <th scope="col"></th>
                        <th scope="col">Updated At</th>
                        <th scope="col"></th>
                        <th scope="col">Deleted At</th>
                    </tr>
                    {% for article in articles %}
                        <tr >

                            <th class="row">{{ article.id}}</th>
                            <td >{{ article.name}}
                                <img src="{{ asset(article.imageId) }}" class="img-lg rounded border border-darl"></td>
                            <td >{{ article.price}}</td>
                            <td >{{ article.description}}</td>
                            <td >{{ article.techData}}</td>
                            <td >{{ article.quantity}}</td>
                            <td >{{ article.manufacturer}}</td>

                            <td >{{ article.createdAt|date("m/d/Y")}}</td>
                            <td></td>
                            {%  if article.updatedAt == article.createdAt or article.updatedAt == NULL %}
                                <td>Not updated yet!</td>
                            {%  else %}
                                <td>{{ article.updatedAt|date("m/d/Y")}}</td>
                            {% endif %}
                            <td></td>
                            {% if article.deletedAt == article.createdAt or article.deletedAt == NULL %}
                                <td>Not deleted!</td>
                            {% else %}
                                <td>{{ article.deletedAt|date("m/d/Y") }}</td>
                            {% endif %}
                            <td><a href="{{ path('article_see', {'id': article.id}) }}" class="btn btn-warning">Details</a>
                            <td><a href="{{ path('call_article_edit', {'id': article.id}) }}" class="btn btn-warning">EDIT</a></td>
                            <td><a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger">DELETE</a></td>

                        </tr>
                    {% endfor %}
                </table>

            </ul>
            <a href="{{ path('call_article_edit') }}" class="btn btn-success">Create new article</a>


{% endblock %}
